@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

.gradient-background-purple {
    @apply bg-gradient-to-r from-violet-600 to-purple-800 text-white;
}

@layer components {
    /* Card */
    .card {
        @apply bg-white w-full rounded-md shadow-lg p-2;
    }
    .card .card-header {
        @apply px-2 py-4 bg-white flex flex-row items-center;
    }
    .card .card-body {
        @apply px-2 py-2 ;
    }
    .card-header #search {
        @apply py-1 w-full max-w-[50%];
    }

    /* Table */
    .table {
        @apply w-full;
    }
    .table thead tr th {
        @apply py-2;
    }
    .table tbody tr td {
        @apply py-2 text-center;
    }

    /* Button */
    .btn {
        @apply px-4 py-2 rounded-md;
    }
    .btn-primary {
        @apply bg-violet-600 text-white font-semibold;
    }
    .btn-secondary {
        @apply text-violet-600 font-semibold border border-violet-600;
    }

    .form-group {
        @apply flex flex-col gap-1;
    }
    .form-group label {
        @apply text-sm font-semibold;
    }
    .form-group input {
        @apply py-1.5 px-2 rounded-md border border-violet-500 focus:border focus:border-violet-600 focus:outline-violet-600 placeholder:text-sm placeholder:text-violet-950 focus:bg-violet-50;
    }
    .form-group select {
        @apply py-1.5 px-2 rounded-md border border-violet-500 focus:border focus:border-violet-600 focus:outline-violet-600 placeholder:text-sm placeholder:text-violet-950;
    }
}

#action {
    @apply cursor-pointer;
}

#search {
    @apply border rounded-md outline-none pl-9 focus:outline focus:outline-violet-600;
}

.logo-text {
    @apply bg-gradient-to-bl from-violet-900 to-purple-400;
    color: transparent;
    -webkit-background-clip: text;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(20px);
    }
  }

  .animate-fade-in {
    animation: fadeIn 0.5s ease-out;
  }

  .animate-fade-out {
    animation: fadeOut 0.5s ease-out forwards;
  }
